.tab {
    text-align: left !important;
    display: none !important;
    cursor: default !important;
    height: 20rem !important;
}

.current {
    display: block !important;
}


/* Make circles that indicate the steps of the form: */

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}


/* Mark the active step: */

.step.active {
    opacity: 1;
    background-color: #90CAF9;
}


/* Mark the steps that are finished and valid: */


/* 
.step.finish {
    background-color: #4CAF50;
} */

.error {
    margin: 0px !important;
}